<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suvp.resttest">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/images"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainMenuActivity"
            android:label="Menu">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LicenseDetailsActivity"
            android:label="License Details">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LicensePointsListActivity"
            android:label="License Points">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LicensePointsDetailActivity"
            android:label="License Points Details">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
